header.header
  .header__inner
    .header__container.container
        .header__logo
          img(
            src="img/logo.svg"
            alt="Coventry Building Society."
            data-scrollspy="animate__fadeInLeft"
            width="258"
            height="90"
          )
        .header__buttons
          button.button.button-primary.button-apply(data-scrollto="#apply") Register your interest
